*, *::before, *::after {
  box-sizing: border-box;
}

body {
	font-family: 'Noto Sans TC', serif;
	color: $neutral-900;
  line-height: 1.5;
  font-weight: 500;
}

img {
  vertical-align: middle;
  max-width: 100%;
  height: auto;
}

.underline {
  border-bottom: 1px solid $neutral-300;
}

.text-white {
  color: white;
}

.text-center {
  text-align: center;
}

.relative {
  position: relative;
}

.absolute {
  position: absolute;
}

.btn {
  border-radius: 4px;
  padding: 12px 24px;
  background-color: #fff;
  border: none;
  cursor: pointer;

  &-light {
    border: 1px solid $neutral-900;
  }

  &-dark {
    background-color: $neutral-900;
    color: white;
  }

  &-border {
    border: 1px solid $neutral-300;

    &.active, &:hover {
      border-color: $neutral-900;
    }

  }
}

@media (max-width: 768px) {
  .btn {
    padding: 8px 16px;
  }
}

.container {
  max-width: calc(1296px + 24x);
  padding-left: 12px;
  padding-right: 12px;
  margin: 0 auto;
}

.d-flex {
  display: flex;
}

.block {
  display: block;
}

.hidden {
  display: none;
}

@media (max-width: 768px) {
  .block-md {
    display: block;
  }
}

.flex-wrap {
  flex-wrap: wrap;
}

.gap-10 {
  gap: 10px;
}

.justify-between {
  justify-content: space-between;
}

.justify-center {
  justify-content: center;
} 

.align-center {
  align-items: center;
}

.pb-48 {
  padding-bottom: 48px;
}

.py-7 {
  padding-top: 7px;
  padding-bottom: 7px;
}

.py-8 {
  padding-top: 8px;
  padding-bottom: 8px;
}

.py-12 {
  padding-top: 12px;
  padding-bottom: 12px;
}

.py-16 {
  padding-top: 16px;
  padding-bottom: 16px;
}

.py-24 {
  padding-top: 24px;
  padding-bottom: 24px;
}

.py-32 {
  padding-top: 32px;
  padding-bottom: 32px;
}

.py-64 {
  padding-top: 64px;
  padding-bottom: 64px;
}

.p-8 {
  padding: 8px;
}

.p-10 {
  padding: 10px;
}

.p-12 {
  padding: 12px;
}

@media (max-width: 768px) {

  .pb-md-32 {
    padding-bottom: 32px;
  }

  .p-md-24 {
    padding: 24px;
  }

  .py-md-32 {
    padding-top: 32px;
    padding-bottom: 32px;
  }
}

.mr-auto {
  margin-right: auto;
}

.mr-8 {
  margin-right: 8px;
}

.mr-12 {
  margin-right: 12px;
}

.mr-24 {
  margin-right: 24px;
}

.mr-48 {
  margin-right: 48px;
}

.mr-40 {
  margin-right: 40px;
}

.mb-4 {
  margin-bottom: 4px;
}

.mb-8 {
  margin-bottom: 8px;
}

.mb-12 {
  margin-bottom: 12px;
}

.mb-16 {
  margin-bottom: 16px;
}

.mb-24 {
  margin-bottom: 24px;
}

.mb-32 {
  margin-bottom: 32px;
}

.mb-40 {
  margin-bottom: 40px;
}

.mb-48 {
  margin-bottom: 48px;
}

@media (max-width: 768px) {

  .mr-md-16 {
    margin-right: 16px;
  }

  .mb-md-4 {
    margin-bottom: 4px;
  }

  .mb-md-8 {
    margin-bottom: 8px;
  }

  .mb-md-16 {
    margin-bottom: 12px;
  }

  .mb-md-16 {
    margin-bottom: 16px;
  }

  .mb-md-24 {
    margin-bottom: 24px;
  }

  .mb-md-32 {
    margin-bottom: 32px;
  }
}

.h1 {
  font-size: 40px;
  line-height: 1.2;
  letter-spacing: 0.05em;
  font-weight: 700;
}

.h2 {
  font-size: 32px;
  line-height: 1.2;
  letter-spacing: 0.05em;
  font-weight: 700;
}

.h3 {
  font-size: 28px;
  line-height: 1.2;
  letter-spacing: 0.05em;
  font-weight: 700;
}

.h4 {
  font-size: 24px;
  line-height: 1.2;
  letter-spacing: 0.05em;
  font-weight: 700;
}

.h5 {
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.05em;
  font-weight: 700;
}

@media (max-width: 768px) {

  .text-md-left {
    text-align: left;
  }

  .h1-md {
    font-size: 40px;
  }

  .h2-md {
    font-size: 32px;
  }

  .h3-md {
    font-size: 28px;
  }

  .h4-md {
    font-size: 24px;
  }

  .h5-md {
    font-size: 20px;
  }

  .h6-md {
    font-size: 16px;
  }
}

.fw-400 {
  font-weight: 400;
}

.text-neutral-600 {
  color: $neutral-600
}

.text-primary-400 {
  color: $primary-400
}

.bg-primary-100 {
  background-color: $primary-100;
}

.bg-primary-200 {
  background-color: $primary-200;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin-left: -12px;
  margin-right: -12px;
}

.col-1 {
  padding-left: 12px;
  padding-right: 12px;
  width: calc(100% / 12);
}

.col-2 {
  padding-left: 12px;
  padding-right: 12px;
  width: calc(100% / 12) * 2;
}

.col-3 {
  padding-left: 12px;
  padding-right: 12px;
  width: calc(100% / 12) * 3;
}

.col-4 {
  padding-left: 12px;
  padding-right: 12px;
  width: calc(100% / 12) * 4;
}

.col-5 {
  padding-left: 12px;
  padding-right: 12px;
  width: calc(100% / 12) * 5;
}

.col-6 {
  padding-left: 12px;
  padding-right: 12px;
  width: calc(100% / 12) * 6;
}

.col-7 {
  padding-left: 12px;
  padding-right: 12px;
  width: calc(100% / 12) * 7;
}

.col-8 {
  padding-left: 12px;
  padding-right: 12px;
  width: calc(100% / 12) * 8 ;
}

.col-9 {
  padding-left: 12px;
  padding-right: 12px;
  width: calc(100% / 12) * 9;
}

.col-10 {
  padding-left: 12px;
  padding-right: 12px;
  width: calc(100% / 12) * 10;
}

.col-11 {
  padding-left: 12px;
  padding-right: 12px;
  width: calc(100% / 12) * 11;
}

.col-12 {
  padding-left: 12px;
  padding-right: 12px;
  width: calc(100% / 12) * 12;
}

@media (max-width: 768px) {
  .row {
    margin-left: -6px;
    margin-right: -6px;
  }

  .col-md-1 {
    width: calc(100% / 4);
    padding-left: 6px;
    padding-right: 6px;
  }

  .col-md-2 {
    width: calc(100% / 4) * 2;
    padding-left: 6px;
    padding-right: 6px;
  }

  .col-md-3 {
    width: calc(100% / 4) * 3;
    padding-left: 6px;
    padding-right: 6px;
  }

  .col-md-4 {
    width: 100%;
    padding-left: 6px;
    padding-right: 6px;
  }

  .md-hidden {
    display: none;
  }
}