$primary-100: rgba(245, 254, 231, 1);
$neutral-100: rgba(248, 249, 250, 1);
$neutral-300: rgba(222, 226, 230, 1);
$primary-200: rgba(232, 254, 197, 1);
$primary-300: rgba(192, 250, 115, 1);
$primary-400: rgba(87, 162, 3, 1);
$neutral-500: rgba(173, 181, 189, 1);
$neutral-600: rgba(108, 117, 125, 1);
$neutral-900: rgba(33, 37, 41, 1); 