@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Tourney:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css");
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  color: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
}

*, *::before, *::after {
  box-sizing: border-box;
}

body {
  font-family: "Noto Sans TC", serif;
  color: rgb(33, 37, 41);
  line-height: 1.5;
  font-weight: 500;
}

img {
  vertical-align: middle;
  max-width: 100%;
  height: auto;
}

.underline {
  border-bottom: 1px solid rgb(222, 226, 230);
}

.text-white {
  color: white;
}

.text-center {
  text-align: center;
}

.relative {
  position: relative;
}

.absolute {
  position: absolute;
}

.btn {
  border-radius: 4px;
  padding: 12px 24px;
  background-color: #fff;
  border: none;
  cursor: pointer;
}
.btn-light {
  border: 1px solid rgb(33, 37, 41);
}
.btn-dark {
  background-color: rgb(33, 37, 41);
  color: white;
}
.btn-border {
  border: 1px solid rgb(222, 226, 230);
}
.btn-border.active, .btn-border:hover {
  border-color: rgb(33, 37, 41);
}

@media (max-width: 768px) {
  .btn {
    padding: 8px 16px;
  }
}
.container {
  max-width: 1320px;
  padding-left: 12px;
  padding-right: 12px;
  margin: 0 auto;
}

.d-flex {
  display: flex;
}

.block {
  display: block;
}

.hidden {
  display: none;
}

@media (max-width: 768px) {
  .block-md {
    display: block;
  }
}
.flex-wrap {
  flex-wrap: wrap;
}

.gap-10 {
  gap: 10px;
}

.justify-between {
  justify-content: space-between;
}

.justify-center {
  justify-content: center;
}

.align-center {
  align-items: center;
}

.pb-48 {
  padding-bottom: 48px;
}

.py-7 {
  padding-top: 7px;
  padding-bottom: 7px;
}

.py-8 {
  padding-top: 8px;
  padding-bottom: 8px;
}

.py-12 {
  padding-top: 12px;
  padding-bottom: 12px;
}

.py-16 {
  padding-top: 16px;
  padding-bottom: 16px;
}

.py-24 {
  padding-top: 24px;
  padding-bottom: 24px;
}

.py-32 {
  padding-top: 32px;
  padding-bottom: 32px;
}

.py-64 {
  padding-top: 64px;
  padding-bottom: 64px;
}

.p-8 {
  padding: 8px;
}

.p-10 {
  padding: 10px;
}

.p-12 {
  padding: 12px;
}

@media (max-width: 768px) {
  .pb-md-32 {
    padding-bottom: 32px;
  }
  .p-md-24 {
    padding: 24px;
  }
  .py-md-32 {
    padding-top: 32px;
    padding-bottom: 32px;
  }
}
.mr-auto {
  margin-right: auto;
}

.mr-8 {
  margin-right: 8px;
}

.mr-12 {
  margin-right: 12px;
}

.mr-24 {
  margin-right: 24px;
}

.mr-48 {
  margin-right: 48px;
}

.mr-40 {
  margin-right: 40px;
}

.mb-4 {
  margin-bottom: 4px;
}

.mb-8 {
  margin-bottom: 8px;
}

.mb-12 {
  margin-bottom: 12px;
}

.mb-16 {
  margin-bottom: 16px;
}

.mb-24 {
  margin-bottom: 24px;
}

.mb-32 {
  margin-bottom: 32px;
}

.mb-40 {
  margin-bottom: 40px;
}

.mb-48 {
  margin-bottom: 48px;
}

@media (max-width: 768px) {
  .mr-md-16 {
    margin-right: 16px;
  }
  .mb-md-4 {
    margin-bottom: 4px;
  }
  .mb-md-8 {
    margin-bottom: 8px;
  }
  .mb-md-16 {
    margin-bottom: 12px;
  }
  .mb-md-16 {
    margin-bottom: 16px;
  }
  .mb-md-24 {
    margin-bottom: 24px;
  }
  .mb-md-32 {
    margin-bottom: 32px;
  }
}
.h1 {
  font-size: 40px;
  line-height: 1.2;
  letter-spacing: 0.05em;
  font-weight: 700;
}

.h2 {
  font-size: 32px;
  line-height: 1.2;
  letter-spacing: 0.05em;
  font-weight: 700;
}

.h3 {
  font-size: 28px;
  line-height: 1.2;
  letter-spacing: 0.05em;
  font-weight: 700;
}

.h4 {
  font-size: 24px;
  line-height: 1.2;
  letter-spacing: 0.05em;
  font-weight: 700;
}

.h5 {
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.05em;
  font-weight: 700;
}

@media (max-width: 768px) {
  .text-md-left {
    text-align: left;
  }
  .h1-md {
    font-size: 40px;
  }
  .h2-md {
    font-size: 32px;
  }
  .h3-md {
    font-size: 28px;
  }
  .h4-md {
    font-size: 24px;
  }
  .h5-md {
    font-size: 20px;
  }
  .h6-md {
    font-size: 16px;
  }
}
.fw-400 {
  font-weight: 400;
}

.text-neutral-600 {
  color: rgb(108, 117, 125);
}

.text-primary-400 {
  color: rgb(87, 162, 3);
}

.bg-primary-100 {
  background-color: rgb(245, 254, 231);
}

.bg-primary-200 {
  background-color: rgb(232, 254, 197);
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin-left: -12px;
  margin-right: -12px;
}

.col-1 {
  padding-left: 12px;
  padding-right: 12px;
  width: 8.3333333333%;
}

.col-2 {
  padding-left: 12px;
  padding-right: 12px;
  width: 16.6666666667%;
}

.col-3 {
  padding-left: 12px;
  padding-right: 12px;
  width: 25%;
}

.col-4 {
  padding-left: 12px;
  padding-right: 12px;
  width: 33.3333333333%;
}

.col-5 {
  padding-left: 12px;
  padding-right: 12px;
  width: 41.6666666667%;
}

.col-6 {
  padding-left: 12px;
  padding-right: 12px;
  width: 50%;
}

.col-7 {
  padding-left: 12px;
  padding-right: 12px;
  width: 58.3333333333%;
}

.col-8 {
  padding-left: 12px;
  padding-right: 12px;
  width: 66.6666666667%;
}

.col-9 {
  padding-left: 12px;
  padding-right: 12px;
  width: 75%;
}

.col-10 {
  padding-left: 12px;
  padding-right: 12px;
  width: 83.3333333333%;
}

.col-11 {
  padding-left: 12px;
  padding-right: 12px;
  width: 91.6666666667%;
}

.col-12 {
  padding-left: 12px;
  padding-right: 12px;
  width: 100%;
}

@media (max-width: 768px) {
  .row {
    margin-left: -6px;
    margin-right: -6px;
  }
  .col-md-1 {
    width: 25%;
    padding-left: 6px;
    padding-right: 6px;
  }
  .col-md-2 {
    width: 50%;
    padding-left: 6px;
    padding-right: 6px;
  }
  .col-md-3 {
    width: 75%;
    padding-left: 6px;
    padding-right: 6px;
  }
  .col-md-4 {
    width: 100%;
    padding-left: 6px;
    padding-right: 6px;
  }
  .md-hidden {
    display: none;
  }
}
.breadcrumb li:not(li:last-of-type) {
  color: rgb(108, 117, 125);
}
.breadcrumb li + li:before {
  content: "/";
  padding: 0 12px;
  font-weight: 700;
  color: rgb(222, 226, 230);
}

.category .active {
  color: rgb(87, 162, 3);
}

.product span {
  display: block;
}
.product span:first-of-type {
  font-weight: 700;
}

.pagination li {
  padding: 8px 15px;
}
.pagination .active {
  background-color: rgb(192, 250, 115);
  font-weight: 400;
}

.copyright {
  padding-top: 32px;
  border-top: 1px solid rgb(222, 226, 230);
  color: rgb(108, 117, 125);
  font-size: 14px;
  letter-spacing: 0.05em;
  text-align: center;
  font-weight: 400;
}

.product-row {
  margin-left: -4px;
  margin-right: -4px;
  display: flex;
  flex-wrap: wrap;
}

.product-col {
  padding-left: 4px;
  padding-right: 4px;
  width: 50%;
}

.del-price {
  font-weight: 400;
  font-size: 14px;
  color: rgb(173, 181, 189);
  margin-left: 8px;
  line-height: 1.5;
  vertical-align: bottom;
}

.colors h3 {
  font-weight: 400;
  margin-bottom: 8px;
}
.colors img {
  margin-bottom: 4px;
}
.colors .card {
  text-align: center;
  width: 64px;
  color: rgb(108, 117, 125);
}

.size h3 {
  font-weight: 400;
  margin-bottom: 8px;
}
.size button {
  width: 160px;
}
.size p {
  color: rgb(215, 79, 79);
  font-weight: 400;
  letter-spacing: 0.05em;
  font-size: 14px;
}

.action button {
  width: 50%;
}
.action i {
  margin-right: 8px;
}

.history {
  list-style-type: disc;
  list-style-position: inside;
}
.history span {
  display: inline-block;
  padding-left: 8px;
  margin-left: 8px;
  border-left: 1px solid rgb(33, 37, 41);
}

@media (max-width: 768px) {
  .history span {
    display: inline;
  }
}
.idea li {
  padding-left: 12px;
  border-left: 3px solid rgb(222, 226, 230);
}

.story i {
  margin-right: 4px;
}
.story a {
  text-decoration: none;
}
.story a span {
  padding-bottom: 4px;
  border-bottom: 1px solid rgb(87, 162, 3);
}

.title {
  position: absolute;
  bottom: 151px;
  right: 871px;
}
.title span {
  font-size: 28px;
}

@media (max-width: 768px) {
  .title {
    bottom: 87px;
    right: 124.5px;
  }
  .title span {
    font-size: 20px;
  }
}/*# sourceMappingURL=all.css.map */